

.downloadposImg{
    width: 100%;
}

.downloadImg {
    position: relative;
}

.downloadImg .watchTop {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    border: 3px solid #787070;
    border-radius: 20px;
    gap: 20px;
    left: 125px;
    width: 50%;
    bottom: 50px;
}

.downloadImg .watchTop img{
    height: 80px;
}

.downloadImg .watchTop p{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.downloadImg .watchTop p span{
    color: blue;
    font-size: 14px;
}

.downloadText{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 20px;
}

.downloadText p{
    font-size: 24px;
    padding: 20px 0px;
    font-weight: 400;
}