.watchtext{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
}

.watchtext p{
    font-size: 24px;
    padding: 20px 0px;
    font-weight: 400;
}

.watchVideo{
    width: 50%;
}

.watchImg {
    position: relative;
}

.watchVideo video {
    position: absolute;
    z-index: -1;
    top: -19%;
    left: 17%;
    height: 100%;
    width: 100%;
    max-width: 63%;
}

.watchVideo img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1100px)
{  
    .watchtext{
      width: 90%;
      margin: auto;
    }
  
    .watchVideo{
      width: 100%;
    }
  }