.heroBanner
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    border-bottom: 8px solid #787070;
}

.heroBanner::after{
    content:'';
    background-image: url(https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ioUPyn34M7Hc/v0/-1x-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:700px;
    z-index:-1;
    opacity: 0.6;
}

.herotext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.herotext p{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin: 16px 0 0;
}

